BasedOnStyle: LLVM
Language: Cpp

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: false
  AfterControlStatement: false
  AfterEnum: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeElse: false
  BeforeWhile: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false

PointerAlignment: Right
ReferenceAlignment: Right
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Left
AlignTrailingComments: true

IndentCaseLabels: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty

SortIncludes: false
IncludeBlocks: Preserve

BinPackArguments: true
BinPackParameters: true
SpaceBeforeParens: ControlStatements
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1

ForEachMacros: []
